@{
    ViewData["Title"] = "Detail";
}

<div class="navbar navbar-inverse">
    <div class="second-nav">
        <h2>BUILD VAN PERSOON - 1000 LIKES</h2>
    </div>
</div>
<div class="container-fluid detail-container">
    <div class="row">
        <div class="detail-image col-sm-6">
            <img src="~/images/PCStockImage1.jpg"/>
        </div>
        <div class="detail-info-container col-sm-6">
            <div class="pcspec-container">
                <h3>PC Specificaties:</h3>
                <p>
                    Processor: AMD A8-3800 2,4GHz (2,7GHz when gaming)
                    <br/>
                    OS: Windows 7 Home Premium 64 bit
                    <br/>
                    RAM: 8GB
                    <br/>
                    Graphics card: Radeon HD 6570 2GB
                    <br/>
                    HDD 1TB
                    <br/>
                    Case: Random black hp pavillion case
                </p>
            </div>
            <div class="detail-info-footer">
                <button class="btn btn-1 btn-1f"><span>LIKE<span class="glyphicon glyphicon-heart likebtn-span"></span></span></button>
                <h3>MEER BUILDS VAN PERSOON</h3>
            </div>
        </div>
    </div>
</div>