
@{
    ViewData["Title"] = "Result";
}

<div class="container-fluid" style="padding-top: 10px">
    <div class="row">
        <div class="col-sm-10" style="border-right: solid 1px #efefef">
            <div class="container-fluid">
                <div class="list-group PCPart-Container">
                    <div class="tabs">
                        <ul>
                            <li id="tab-1" class="tab selectedtab"><a onclick="ChangeTabs('section-iconbox-1', 'tab-1')"><span>CASE</span></a><div class="glyphicon glyphicon-triangle-top tabsIcon"></div></li>
                            <li id="tab-2" class="tab"><a onclick="ChangeTabs('section-iconbox-2', 'tab-2')"><span>MOTHERBOARD</span></a><div class="glyphicon glyphicon-triangle-top tabsIcon"></div></li>
                            <li id="tab-3" class="tab"><a onclick="ChangeTabs('section-iconbox-3', 'tab-3')"><span>COOLER</span></a><div class="glyphicon glyphicon-triangle-top tabsIcon"></div></li>
                            <li id="tab-4" class="tab"><a onclick="ChangeTabs('section-iconbox-4', 'tab-4')"><span>PROCESSOR</span></a><div class="glyphicon glyphicon-triangle-top tabsIcon"></div></li>
                            <li id="tab-5" class="tab"><a onclick="ChangeTabs('section-iconbox-5', 'tab-5')"><span>RAM</span></a><div class="glyphicon glyphicon-triangle-top tabsIcon"></div></li>
                        </ul>
                        <div class="content-wrap">
                            <section id="section-iconbox-1" class="tabsection">
                                <div class="table100 ver2 m-b-110">
                                    <div class="table100-head">
                                        <table>
                                            <thead>
                                                <tr class="row100 head">
                                                    <th class="cell100 column1">PC PART</th>
                                                    <th class="cell100 column3">WEBSHOP</th>
                                                    <th class="cell100 column5">PRICE</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="table100-body js-pscroll">
                                        <table>
                                            <tbody>
                                                <tr class="row100 body">
                                                    <td class="cell100 column1">Like a butterfly</td>
                                                    <td class="cell100 column3">9:00 AM - 11:00 AM</td>
                                                    <td class="cell100 column5">10</td>
                                                </tr>

                                                <tr class="row100 body">
                                                    <td class="cell100 column1">Mind & Body</td>
                                                    <td class="cell100 column3">8:00 AM - 9:00 AM</td>
                                                    <td class="cell100 column5">15</td>
                                                </tr>

                                                <tr class="row100 body">
                                                    <td class="cell100 column1">Crit Cardio</td>
                                                    <td class="cell100 column3">9:00 AM - 10:00 AM</td>
                                                    <td class="cell100 column5">10</td>
                                                </tr>

                                                <tr class="row100 body">
                                                    <td class="cell100 column1">Wheel Pose Full Posture</td>
                                                    <td class="cell100 column3">7:00 AM - 8:30 AM</td>
                                                    <td class="cell100 column5">15</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                            <section id="section-iconbox-2" class="tabsection"><p>2</p></section>
                            <section id="section-iconbox-3" class="tabsection"><p>3</p></section>
                            <section id="section-iconbox-4" class="tabsection"><p>4</p></section>
                            <section id="section-iconbox-5" class="tabsection"><p>5</p></section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

