@using KillerApp.Domain
@model List<PcBuild>

<div>
    <div class="row">
        @if (Model.Count != 0)
        {
            foreach (var build in Model)
            {
                <div class="col-sm-4">
                    <div class="PCWrapper PCWrapper-White" style="background: url(../images/@build.PartNames[0]._Path) no-repeat center; background-size: contain;">
                        <div class="PCWrapper-TextContainer">
                            <div class="PCInformation">
                                <h3>Parts:</h3>
                                @foreach (var part in build.PartNames)
                                {
                                    <p>@part._Name</p>
                                }
                            </div>
                        </div>
                        <div class="PCWrapper-Title">
                            <a asp-controller="PcBuild" asp-action="Detail" asp-route-buildId="@build.ID">@build._Name.ToUpper()</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h2>Je hebt nog geen builds. Klik <a asp-controller="PcBuild" asp-action="Index">hier</a> om meteen te beginnen!</h2>
        }
    </div>
</div>