@{
    ViewData["Title"] = "CreateAccount";
}
<h2>Account aanmaken</h2>
<form asp-action="" method="post">
    <label for="userName">Username: </label>
    <input type="text" id="userName" name="userName" />
    <br />
    <label for="password">Password: </label>
    <input type="text" id="password" name="password" />
    <br />
    <label for="confPassword">Confirm password: </label>
    <input type="text" id="confPassword" name="confPassword" />
    <br />
</form>

