@using Microsoft.CodeAnalysis.CSharp.Syntax
@Model  PCBuild.Models.CreateAccountModel

@{
    ViewData["Title"] = "CreateAccount";
}
<div class="form-container">
    <h2>Account aanmaken</h2>
    <form asp-action="SendAccount" method="post" class="form-wrapper">
        <p>Username: </p>
        <input class="usernameField form-control" type="text" id="userName" name="userName"/>
        <p class="usernameError">Username already in use</p>
        <br/>
        <p>Password: </p>
        <input class="form-control" type="text" id="password" name="password" />
        <p class="passwordError">Passwords didn't matched pls try again</p>
        <br />
        <p>Confirm password: </p>
        <input class="form-control" type="text" id="confPassword" name="confPassword" />
        <br/>
        <button class="btn btn-1 btn-1e"><span>Create</span></button>
    </form>
</div>

