@using Microsoft.CodeAnalysis.CSharp.Syntax
@Model  PCBuild.Models.CreateAccountModel

@{
    ViewData["Title"] = "Create";
}
<div class="form-container">
    <h2>Account aanmaken</h2>
    <form method="post" class="form-wrapper">
        <p>Accountnaam: </p>
        <input class="form-control" type="text" id="userName" name="userName"/>
        <p class="usernameError">Accountnaam is al in gebruik.</p>
        <br/>
        <p>Wachtwoord: </p>
        <input class="form-control" type="text" id="password" name="password" />
        <p class="passwordError">Wachtwoord klopt niet probeer opnieuw.</p>
        <br />
        <p>Wachtwoord herhalen: </p>
        <input class="form-control" type="text" id="confPassword" name="confPassword" />
        <p class="confpasswordError">De ingevoerde wachtwoorden zijn niet gelijk.</p>
        <br/>
        <button class="btn btn-1 btn-1e" id="accountButton"><span>Create</span></button>
    </form>
</div>

