@{
    ViewData["Title"] = "Login";
}
<h2>Account aanmaken</h2>
<form asp-action="" method="post">
    <label for="Username">Username: </label>
    <input type="text" id="Username" name="Username"/>
    <br/>
    <label for="Password">Password: </label>
    <input type="text" id="Password" name="Password"/>
    <br/>
    <label for="ConfPassword">Confirm password: </label>
    <input type="text" id="ConfPassword" name="ConfPassword" />
</form>