@using API.Models
@model KillerApp.Models.AccountOverviewModel

@{
    ViewData["Title"] = "Overview";
}

<div class="navbar navbar-inverse">
    @if (User.Identity.IsAuthenticated)
    {
        var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
        if (claimsIdentity != null)
        {
            var name = claimsIdentity.FindFirst("Username").Value;
            <div class="accountName">
                <h2>@name.ToUpper()</h2>
            </div>
        }
    }
    else
    {
        <div class="accountName">
            <h2>Can't find name of user</h2>
        </div>
    }
</div>
<div class="navbar navbar-default">
    <div class="navbar-collapse collapse a-nav-middle-wrapper">
        <div class="a-nav-middle">
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
                    if (claimsIdentity.FindFirst("moderator").Value == "true")
                    {
                        <li><a class="hvr-underline-from-center-selected" asp-area="" asp-controller="PcBuild" asp-action="Add">ADD PC-PARTS</a></li>
                    }
                }
                <li><a class="hvr-underline-from-center-selected" asp-area="" asp-controller="PcBuild" asp-action="Index">EIGEN BUILDS</a></li>
                <li><a class="hvr-underline-from-center" asp-area="" asp-controller="Home" asp-action="About">GELIKETE BUILDS</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        @foreach (PCBuild build in Model.Builds)
        {
            <div class="col-sm-4">
                <div class="PCWrapper PCWrapper-White">
                    <div class="PCWrapper-TextContainer">
                        <h3>Parts:</h3>
                        @foreach (PcPart part in build.PcParts)
                        {
                            <p>@part._Name</p>
                        }
                    </div>
                    <div class="PCWrapper-Title">
                        <a>@build.Name.ToUpper()</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>