@using System.Security.Claims
@using KillerApp.Domain

@{
    ViewData["Title"] = "Overview";
}

<div class="navbar navbar-inverse">
    @if (User.Identity.IsAuthenticated)
    {
        var claimsIdentity = User.Identity as ClaimsIdentity;
        if (claimsIdentity != null)
        {
            var name = claimsIdentity.FindFirst("Username").Value;
            <div class="second-nav">
                <h2>@name.ToUpper()</h2>
            </div>
        }
    }
    else
    {
        <div class="second-nav">
            <h2>kan geen username vinden</h2>
        </div>
    }
</div>
<div class="navbar navbar-default">
    <div class="navbar-collapse collapse a-nav-middle-wrapper">
        <div class="a-nav-middle">
            <ul class="nav navbar-nav">
                <li>
                    <a class="hvr-underline-from-center builds" asp-area="" asp-action="Builds" asp-route-ownBuilds="true">EIGEN BUILDS</a>
                </li>
                <li>
                    <a class="hvr-underline-from-center builds" asp-area="" asp-controller="Account" asp-action="Builds" asp-route-ownBuilds="false">GELIKETE BUILDS</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    var claimsIdentity = User.Identity as ClaimsIdentity;
                    if (claimsIdentity.HasClaim("moderator", "true"))
                    {
                        <li>
                            <a class="hvr-underline-from-center" asp-area="" asp-controller="PcBuild" asp-action="Add">ADD PC-PARTS</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="hvr-underline-from-center" asp-area="" asp-controller="Account" asp-action="Delete">DELETE ACCOUNT</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<div id="OverviewPartialviewBox" class="container-fluid PCPart-Container"></div>