

body {
    padding-top: 50px;
    background-color: #152025;
    font-family: "Lucida Sans";
    background-image: url(/images/background.svg);
    background-size: cover;
}
h1 {
    color: #1f2ef0;
}
h2, p, label {
    color: #e3e3e3;
}
.footer-wrapper {
    background-color: #e3e3e3;
}
    .footer-wrapper h2, p {
        color: #152025;
    }
.form-container {
    background: #152025;
}
    .form-container > h2 {
        font-size: 40px;
    }
    .form-container p {
        font-size: 20px;
        text-align: left;
    }
    .form-container input {
        text-align: left;
        width: 100%;
    }
.form-wrapper {
    width: 30vw;
    margin-left: 35vw;
    z-index: 1;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    min-height: 100vh;
    padding-top: 50px;
    text-align: center
}
    .body-content p, h2 {
        color: #e3e3e3;
    }
.navbar-corner-right > li {
    float: left;
}

.PCWrapper {
    background-color: #fff;
    min-height: 300px;
    width: 250px;
    margin-bottom: 20px;
    margin-left: 35%;
}
    .PCWrapper > img {
        max-width:100%;
        max-height:100%;
    }
.PCWrapper-Title {
    background-color: #6435de;
    padding: 10px;
    width: inherit;
    position: absolute; 
    bottom: 0;
    margin-bottom: 20px;
}
    .PCWrapper-Title > a {
        color: #fff;
    }
    .PCWrapper-Title > a:hover {
        color: #fff;
        text-decoration: none;
    }

.hvr-underline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
    .hvr-underline:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: #2098D1;
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn > span {
    z-index: 2;
    position: inherit;
}
.btn:after {
    content: '';
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-1 {
    border: 3px solid #fff;
    color: #fff;
}

.btn-1e {
    overflow: hidden;
}

    .btn-1e:after {
        width: 100%;
        height: 0;
        top: 50%;
        left: 50%;
        background: #1ed2bf;
        opacity: 0;
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }

    .btn-1e:hover, .btn-1e:after {
        color: #152025;
    }

.btn-1e:hover:after {
    height: 260%;
    opacity: 1;
}

.btn-1e:active:after {
    height: 400%;
    opacity: 1;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
