@Model PCTool.Models.PCBuildIndexModel

@{
    ViewData["Title"] = "PCBuild - TEST";
}
<div class="container-fluid" style="padding-top: 10px">
    <div class="row">
        <div class="col-sm-6" style="border-right: solid 1px #efefef">
            <div class="container-fluid">                
                    <div class="row">
                        <div class="col-sm-9">
                            <h3>All parts:</h3>
                            <div class="list-group">
                                <form asp-action="SendPCPart" method="post">
                                    @foreach (var part in Model.PCParts)
                                    {
                                        if (part._Type == Model.SelectedType)
                                        {
                                            <button class="list-group-item" name="Submit" value="@part.EAN">@part._Name</button>
                                        }
                                    }
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h5>Selected part: </h5>
                            <br />
                            <button type="submit" class="btn-primary">Add</button>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3>Selected Items:</h3>
            <ul class="list-group">
            </ul>
        </div>
    </div>
</div>
