@{
    ViewData["Title"] = "Home Page";
}
<h1>HOT PC BUILDS</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="PCWrapper PCWrapper-White">
                <img src="/images/PCStockImage1.jpg"/>
                <div class="PCWrapper-Title">
                    <a>BUILD VAN: PERSOON</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="PCWrapper PCWrapper-White">
                <img src="/images/PCStockImage2.jpg"/>
                <div class="PCWrapper-Title">
                    <a>BUILD VAN: PERSOON</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="PCWrapper PCWrapper-White">
                <img src="/images/PCStockImage1.jpg"/>
                <div class="PCWrapper-Title">
                    <a>BUILD VAN: PERSOON</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="PCWrapper PCWrapper-White">
                <img src="/images/PCStockImage1.jpg"/>
                <div class="PCWrapper-Title">
                    <a>BUILD VAN: PERSOON</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="PCWrapper PCWrapper-White">
                <img src="/images/PCStockImage1.jpg"/>
                <div class="PCWrapper-Title">
                    <a>BUILD VAN: PERSOON</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="PCWrapper PCWrapper-White">
                <img src="/images/PCStockImage1.jpg"/>
                <div class="PCWrapper-Title">
                    <a>BUILD VAN: PERSOON</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="PCWrapper PCWrapper-White">
                <img src="/images/PCStockImage1.jpg"/>
                <div class="PCWrapper-Title">
                    <a>BUILD VAN: PERSOON</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="PCWrapper PCWrapper-White">
                <img src="/images/PCStockImage2.jpg"/>
                <div class="PCWrapper-Title">
                    <a>BUILD VAN: PERSOON</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="PCWrapper PCWrapper-White">
                <img src="/images/PCStockImage1.jpg"/>
                <div class="PCWrapper-Title">
                    <a>BUILD VAN: PERSOON</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="PCWrapper PCWrapper-White">
                <img src="/images/PCStockImage1.jpg"/>
                <div class="PCWrapper-Title">
                    <a>BUILD VAN: PERSOON</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="PCWrapper PCWrapper-White">
                <img src="/images/PCStockImage1.jpg"/>
                <div class="PCWrapper-Title">
                    <a>BUILD VAN: PERSOON</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="PCWrapper PCWrapper-White">
                <img src="/images/PCStockImage1.jpg"/>
                <div class="PCWrapper-Title">
                    <a>BUILD VAN: PERSOON</a>
                </div>
            </div>
        </div>
    </div>
</div>