@using KillerApp.Domain
@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<h1>HOT PC BUILDS</h1>
<div class="container-fluid">
    <div class="row">
        @foreach (PcBuild build in Model.Builds)
        {
            <div class="col-sm-4">
                <div class="PCWrapper-White PCWrapper" style="background: url(images/@build.PartNames[0]._Path) no-repeat center; background-size: contain;">
                    <div class="PCWrapper-TextContainer">
                        <div class="PCInformation">
                            <h3>Klik voor meer info over deze build</h3>
                        </div>
                    </div>
                    <div class="PCWrapper-Title">
                        <a asp-area="" asp-controller="PcBuild" asp-action="Detail" asp-route-buildId="@build.Id">@build._Name</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>